.about,
.experience,
.education {
  background: #eff3f7;
  margin: 0 0 24px 0;
  border-radius: 4px;
  overflow: hidden;
}

.main-info-title,
.experience-title,
.education-title {
  height: 69px;
  line-height: 66px;
  font-size: 27px;
  color: #3ba8c0;
}

.experience-title,
.education-title {
  margin: 0 0 33px 0;
}

.avatar-container-cell {
  width: 250px;
  text-align: center;
}

.avatar-container {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  border: 5px solid #2fa5bc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.main-info-list {
  margin: 0 0 28px 11px;
}
.main-info-list .main-info-el {
  font-size: 15px;
  margin: 0 0 13px 0;
}
.main-info-list .main-info-el-title {
  font: 17px 'firasans-medium';
  margin: 0 15px 0 0;
}
.main-info-list .skills-title-cell {
  width: 173px;
}
.main-info-list .skills-list-el {
  display: inline-block;
  padding: 0 14px;
  text-align: center;
  height: 19px;
  margin: 0 3px 0 0;
  color: #fff;
  font: 14px/19px 'proximanovacond-semibold';
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2E8CA2', endColorstr='#FF3BA8C0');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlOGNhMiIvPjxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjMmU4Y2EyIi8+PHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiMzYmE4YzAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmE4YzAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  border-radius: 2px;
}

.experience {
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.experience-info-list-el {
  margin: 0 0 28px 0;
}
.experience-info-list-el:last-child {
  margin: 0 0 19px 0;
}
.experience-info-list-el .work-date {
  font: 15px/1.5 'firasans-light';
}
.experience-info-list-el .work-icon-cell {
  width: 100px;
  text-align: right;
}
.experience-info-list-el .work-icon {
  display: inline-block;
  background-image: url('../../img/spritesheets/ui.png');
  background-repeat: no-repeat;
  background-position: -1348px 0;
  height: 34px;
  width: 36px;
}
.experience-info-list-el .company-name-info-cell {
  padding: 0 0 0 30px;
  color: #4a545d;
}
.experience-info-list-el .company-name-info-cell .one-world-link {
  text-decoration: none;
  color: #4a545d;
}
.experience-info-list-el .company-name-info-cell .one-world-link:visited {
  color: #4a545d;
}
.experience-info-list-el .company-name-info-cell .one-world-link:focus {
  color: #4a545d;
}
.experience-info-list-el .company-name-info-cell .one-world-link:active {
  color: #4a545d;
}
.experience-info-list-el .company-name-info-cell .one-world-link:hover {
  text-decoration: underline;
}
.experience-info-list-el .company-name {
  font-size: 17px;
  line-height: 1;
}

.education {
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.education-info-list .education-info-list-el {
  color: #4a545d;
  margin: 0 0 26px 0;
}
.education-info-list .education-info-list-el:last-child {
  margin: 0 0 20px 0;
}
.education-info-list .education-icon-cell {
  width: 100px;
  text-align: right;
  vertical-align: 36px;
}
.education-info-list .education-icon {
  display: inline-block;
  background-image: url('../../img/spritesheets/ui.png');
  background-repeat: no-repeat;
  background-position: -232px 0;
  height: 23px;
  width: 41px;
}
.education-info-list .courses-icon {
  display: inline-block;
  background-image: url('../../img/spritesheets/ui.png');
  background-repeat: no-repeat;
  background-position: -181px 0;
  height: 32px;
  width: 41px;
}
.education-info-list .education-palace-cell {
  padding: 0 30px 0;
}
.education-info-list .education-palace {
  font-size: 17px;
  line-height: 1;
}
.education-info-list .education-date {
  font: 15px 'firasans-light';
}
