.login-popup-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80px;
  left: 0;
}

.login-popup {
  width: 590px;
  display: inline-block;
  background: #eff3f7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 6px 13px 1px rgba(13, 16, 7, 0.35);
  -webkit-box-shadow: 0 6px 13px 1px rgba(13, 16, 7, 0.35);
  box-shadow: 0 6px 13px 1px rgba(13, 16, 7, 0.35);
}
.login-popup .login-popup-header {
  background: #48cae7;
  color: #fff;
  text-align: center;
  font-size: 40px;
  border-bottom: 15px solid #67def9;
}
.login-popup .login-content {
  padding: 20px;
  text-align: center;
}
.login-popup .login-form-inputs-wrap {
  margin-bottom: 25px;
}
.login-popup .login-input-title {
  text-align: center;
  font: 36px 'firasans-light';
  color: #959aa8;
  display: block;
}
.login-popup .login-form-input-wrap {
  width: 425px;
  display: inline-block;
  position: relative;
}
.login-popup .login-popup-submit-btn {
  min-width: 224px;
  height: 49px;
  font-size: 36px;
  background: #48cae7;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 4px 0 0 #3ba7bf;
  -webkit-box-shadow: 0 4px 0 0 #3ba7bf;
  box-shadow: 0 4px 0 0 #3ba7bf;
}
.login-popup .login-popup-submit-btn:active {
  -moz-box-shadow: 0 -4px 0 0 #3ba7bf;
  -webkit-box-shadow: 0 -4px 0 0 #3ba7bf;
  box-shadow: 0 -4px 0 0 #3ba7bf;
}
