html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

ul li {
  list-style-type: none;
}

.display-table {
  display: table;
}

.display-table-row {
  display: table-row;
}

.display-table-cell {
  display: table-cell;
}

.inline-baseline-middle {
  display: inline-block;
  vertical-align: middle;
}

.fixed-table-layout {
  table-layout: fixed;
}

.parent-size {
  width: 100%;
  height: 100%;
}

.parent-width {
  width: 100%;
}

.parent-height {
  height: 100%;
}

.parent-half-width {
  width: 50%;
}

.relative {
  position: relative;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.to-center-inline {
  text-align: center;
}

.to-right-inline {
  text-align: right;
}

.to-left-inline {
  text-align: left;
}

.main-container {
  background: #fff url(../../img/page-bg-671x669.png);
  font-family: 'firasans-book', sans-serif;
}

.header {
  margin-bottom: 40px;
}

.header-inner-wrapper {
  background: #eff3f7;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .header-inner-wrapper {
    padding: 0 35px;
  }
}
@media (max-width: 320px) {
  .header-inner-wrapper {
    padding: 0 15px;
  }
}

.header-table {
  outline: 1px solid red;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
}
.header-table .social-links {
  display: inline-block;
}
.header-table .social-links * + * {
  margin-left: 24px;
}
.header-table .social-icon {
  outline: 1px solid red;
  width: 46px;
  height: 46px;
  display: inline-block;
  cursor: pointer;
}
.header-table .vk-icon {
  background: url(../../img/vk-icon-46x46.png) no-repeat;
}
.header-table .tw-icon {
  background: url(../../img/tw-icon-47x47.png) no-repeat;
}
.header-table .fb-icon {
  background: url(../../img/fb-icon-47x47.png) no-repeat;
}
.header-table .gh-icon {
  background: url(../../img/gh-icon-47x47.png) no-repeat;
}
.header-table .loftschool-logo-container {
  width: 245px;
  height: 57px;
  display: inline-block;
  background: url(../../img/loftschool-log-245x57.png) no-repeat;
}

.navigation-wrapper {
  height: 220px;
  background: #eff3f7;
  margin-bottom: 24px;
}
.navigation-wrapper .navigation-el {
  height: 72px;
  color: #959aa8;
  font-size: 21px;
  padding: 0 10px;
}
.navigation-wrapper .navigation-el.active {
  color: #fff;
  background: #3ba8c0;
  font-size: 23px;
}
.navigation-wrapper .navigation-el.active .navigation-link {
  border: none;
  color: #fff;
}
.navigation-wrapper .navigation-el:not(.active):hover {
  color: #3ba8c0;
}
.navigation-wrapper .navigation-el:not(.active):hover .navigation-link {
  color: #3ba8c0;
  border-bottom: 2px solid #3ba8c0;
}
.navigation-wrapper .navigation-link {
  width: 100%;
  line-height: 72px;
  display: inline-block;
  text-decoration: none;
  color: #959aa8;
}
.navigation-wrapper .navigation-link:visited {
  color: #959aa8;
}
.navigation-wrapper .navigation-link:focus {
  color: #959aa8;
}
.navigation-wrapper .navigation-link:active {
  color: #959aa8;
}

.contacts-wrapper {
  height: 155px;
}
.contacts-wrapper .contacts-el {
  outline: 1px solid red;
  height: 40px;
  color: #fff;
}
.contacts-wrapper .contact-icon-cell {
  width: 70px;
}
.contacts-wrapper .mail-icon {
  width: 21px;
  height: 16px;
  display: inline-block;
  background: url(../../img/mail-icon-21x16.png) no-repeat;
}
.contacts-wrapper .phone-icon {
  width: 19px;
  height: 21px;
  display: inline-block;
  background: url(../../img/phone-icon-19x21.png) no-repeat;
}
.contacts-wrapper .skype-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../../img/skype-icon-20x20.png) no-repeat;
}
.contacts-wrapper .contacts-title {
  background: #3ba8c0;
}
.contacts-wrapper .mail-el {
  background: #41b9d4;
}
.contacts-wrapper .phone-el {
  background: #48cbe8;
}
.contacts-wrapper .skype-el {
  background: #51daf8;
}

.shadow-gradient {
  height: 4px;
  background-color: #1c667a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjNjY3YSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNmZhZmUiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDhkOGQ4Ii8+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmYSIvPjxzdG9wIG9mZnNldD0iMjglIiBzdG9wLWNvbG9yPSIjYjZjZWQ2Ii8+PHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiMxYzY2N2EiLz48c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2I0Y2NkNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjZmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
  background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
  background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
}

.content {
  width: 960px;
  margin: 0 auto 40px;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.5)), color-stop(100%, rgba(179, 179, 255, 0.5))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5)), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5)), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5)), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.33333%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
.content:after {
  content: " ";
  display: block;
  clear: both;
}

.left-side {
  outline: 1px solid red;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (max-width: 320px) {
  .left-side {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

.main-info-title,
.experience-title,
.education-title {
  height: 70px;
  line-height: 70px;
  font-size: 27px;
  color: #3ba8c0;
}

.main-info-title {
  margin-bottom: 16px;
}

.main-info-title-text {
  padding: 0 20px;
  display: inline-block;
  border-bottom: 2px solid #3ba8c0;
}

.right-side {
  outline: 1px solid blue;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
}

.about,
.experience,
.education {
  background: #eff3f7;
  margin-bottom: 24px;
}

.about {
  height: 320px;
}

.avatar-container-cell {
  width: 250px;
  text-align: center;
}

.avatar-container {
  width: 201px;
  height: 200px;
  display: inline-block;
  background: url(../../img/default-avatar-icon-201x200.png) no-repeat;
}

.main-info-el {
  font-size: 15px;
  margin-bottom: 13px;
}

.main-info-el-title {
  font-size: 17px;
  font-family: 'firasans-medium';
}

.skills-title-cell {
  width: 173px;
}

.skills-list-el {
  display: inline-block;
  padding: 0 14px;
  text-align: center;
  height: 19px;
  line-height: 19px;
  margin-right: 8px;
  color: #fff;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlOGNhMiIvPjxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjMmU4Y2EyIi8+PHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiMzYmE4YzAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmE4YzAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
  border-radius: 2px;
}

.footer {
  height: 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  background: #eff3f7;
}
