@import "susy";

$susy: (
    columns: 12,
    gutters: 10,
    container: 60em,
    math: fluid,
    output: float,
    gutter-position: inside,

    debug: (
        //image: show,
        image: hide,
        color: rgba(#66f, .5),
        output: background,
        toggle: top right,
    )

);