$screen-xs-min: 320;
$screen-sm-min: 768;

// colors-settings
$content-bg: #eff3f7;


// fonts-settings
$fira-fonts-names: 'firasans-book', 'firasans-medium', 'firasans-lightitalic', 'firasans-lightitalic';
$proxima-nova-fonts-names: 'proximanovacond-semibold';
$fira-font-path: 'fira';
$proxima-nova-font-path: 'proxima-nova';

// sprites-settings
$ui-sprite: sprite-map('ui/*.png', $layout: 'horizontal', $spacing: 10px);
