@import "base";

// main-content start
.about,
.experience,
.education {
    background: $content-bg;
    margin: 0 0 24px 0;
    border-radius: 4px;
    overflow: hidden;
}

.main-info-title,
.experience-title,
.education-title {
    height: 69px;
    line-height: 66px;
    font-size: 27px;
    color: #3ba8c0;
}

.experience-title,
.education-title {
    margin: 0 0 33px 0;
}

.avatar-container-cell {
    width: 250px;
    text-align: center;
}
.avatar-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border: 5px solid #2fa5bc;
    @include box-sizing(border-box);
    @include border-radius(50%);
}
.main-info-list {
    margin: 0 0 28px 11px;
    .main-info-el {
        font-size: 15px;
        margin: 0 0 13px 0;
    }

    .main-info-el-title {
        font: 17px 'firasans-medium';
        margin: 0 15px 0 0;
    }
    .skills-title-cell {
        width: 173px;
    }
    .skills-list-el {
        display: inline-block;
        padding: 0 14px;
        text-align: center;
        height: 19px;
        margin: 0 3px 0 0;
        color: #fff;
        font: 14px/19px 'proximanovacond-semibold';
        @include filter-gradient(#2e8ca2, #3ba8c0, 'radial');
        @include background (linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%));
        border-radius: 2px;
    }

}
// main-content end

// experience start
.experience {
    overflow: hidden;
    @include border-radius(4px);
}
.experience-info-list-el {
    margin: 0 0 28px 0;
    &:last-child {
        margin: 0 0 19px 0;
    }
    .work-date {
        font: 15px/1.5 'firasans-light';
    }
    .work-icon-cell {
        width: 100px;
        text-align: right;
    }
    .work-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'work-icon-36x34', true);
    }

    .company-name-info-cell {
        padding: 0 0 0 30px;
        color: #4a545d;
        .one-world-link {
            text-decoration: none;
            @include link-colors(#4a545d, false, #4a545d, #4a545d, #4a545d);
            &:hover {
                text-decoration: underline;
            }

        }
    }
    .company-name {
        font-size: 17px;
        line-height: 1;
    }
}
// experience end

// education start
.education {
    overflow: hidden;
    @include border-radius(4px);
}
.education-info-list {
    .education-info-list-el {
        color: #4a545d;
        margin: 0 0 26px 0;
        &:last-child {
            margin: 0 0 20px 0;
        }
    }
    .education-icon-cell {
        width: 100px;
        text-align: right;
        vertical-align: 36px;
    }
    .education-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'education-icon-41x23', true);
    }
    .courses-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'courses-icon-41x32', true);
    }
    .education-palace-cell {
        padding: 0 0 0 30px;
    }
    .education-palace {
        font-size: 17px;
        line-height: 1;
    }
    .education-date {
        font: 15px 'firasans-light';
    }
}
// education end