@import "base";
@import "reset";
@import "table-scaffolding";

html, body {
    height: 100%;
}

.upper-case {
    text-transform: uppercase;
}
.hide {
    display: none;
}
.relative {
    position: relative;
}

.main-container {
    background: inline-image('separated/page-bg-671x669.png');
    font-family: 'firasans-book', sans-serif;
    min-height: 100%;
    margin: 0 auto -80px;
}
.main-container:after {
    content: " ";
    display: block;
}
.main-container:after {
    height: 80px;
}

// header start
.header {
    margin: 0 0 39px 0;
}
.header-inner-wrapper {
    background: $content-bg;
    padding: 0 20px;
    @include breakpoint(768) {
        padding: 0 35px;
    }
    @include breakpoint(320) {
        padding: 0 15px;
    }
    .header-table {
        max-width: 1200px;
        height: 112px;
        margin: 0 auto;
    }
    .loftschool-logo-container {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'profile-logo-333x61', true);
    }
    .social-links {
        display: inline-block;
        * + * {
            margin: 0 0 0 24px;
        }
    }
    .social-icon {
        width: 47px;
        height: 47px;
        display: inline-block;
        cursor: pointer;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .vk-icon {
        @include sprite($ui-sprite, 'vk-icon-47x47', $dimensions: false,  $offset-x: 0, $offset-y: 0);
    }
    .tw-icon {
        @include sprite($ui-sprite, 'tw-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
    .fb-icon {
        @include sprite($ui-sprite, 'fb-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
    .gh-icon {
        @include sprite($ui-sprite, 'gh-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
    .social-icon-link {
        width: 100%;
        height: 100%;
        display: block;
    }
}
// header end

// grid system settings start
.container {
    margin: 0 0 9px 0;
    @include container();
}

.left-sidebar {
    @include span(3 of 12 0);
    @include breakpoint(320) {
        @include span(12);
    }
    margin-right: -1%;
}

.main-content {
    @include span(8 of 12 0);
    @include push(1);
}
.navigation-wrapper,
.about,
.experience,
.education,
.contacts-wrapper,
.my-works,
.contacts {
    margin-right: -10px;
}
// grid system settings end

// left-sidebar start
.navigation-wrapper {
    background: $content-bg;
    margin: 0 0 24px 0;
    overflow: hidden;
    @include border-radius(4px);
    .navigation-el {
        height: 72px;
        line-height: 76px;
        color: #959aa8;
        font-size: 21px;
        padding: 0 10px 4px;
        &.active {
            color: #fff;
            background: #3ba8c0;
            font-size: 23px;
            .navigation-link {
                border: none;
                color: #fff;
            }
        }
        &:not(.active):hover {
            color: #3ba8c0;
            .navigation-link {
                color: #3ba8c0;
                border-bottom: 2px solid #3ba8c0;
            }
        }
    }
    .navigation-link {
        width: 100%;
        line-height: 70px;
        display: inline-block;
        text-decoration: none;
        text-indent: 18px;
        @include link-colors(#959aa8, false, #959aa8, #959aa8, #959aa8)
    }
}

.contacts-wrapper {
    @include border-radius(4px);
    overflow: hidden;
    .contacts-el {
        height: 40px;
        color: #fff;
    }
    .contact-icon-cell {
        width: 62px;
        text-align: right;
        padding: 0 21px 0 0;
    }
    .contact-icon {
        display: inline-block;
        line-height: 16px;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .mail-icon {
        @include sprite($ui-sprite, 'mail-icon-21x16', true);
    }
    .phone-icon {
        @include sprite($ui-sprite, 'phone-icon-19x21', true);
    }
    .skype-icon {
        @include sprite($ui-sprite, 'skype-icon-20x20', true);
    }
    .contacts-title {
        background: #3ba8c0;
        font-size: 21px;
        padding: 0 20px;
        line-height: 52px;
        color: #fff;
    }
    .contact-link {
        text-decoration: none;
        @include link-colors(#fff, false, #fff, #fff, #fff)
    }
    .mail-el {
        background: #41b9d4;
    }
    .phone-el {
        background: #48cbe8;
    }
    .skype-el {
        background: #51daf8;
    }
}
// left-sidebar end

.main-info-title {
    height: 69px;
    line-height: 66px;
    font-size: 27px;
    color: #3ba8c0;
    margin: 0 0 16px 0;
}
.h1-txt {
    display: inline-block;
    border-bottom: 2px solid #3ba8c0;
    padding: 0 20px;
}

// footer start
.footer {
    height: 80px;
    text-align: center;
    background: $content-bg;
    .copyright {
        font: 13px 'firasans-light';
    }
    .footer-inner-wrapper {
        height: 100%;
        padding: 0 20px;
    }
    .footer-table {
        max-width: 1200px;
        margin: 0 auto;
    }
    .login-btn {
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
        float: left;
        @include sprite($ui-sprite, 'login-btn-20x32', true);
        &.opened {
            @include sprite($ui-sprite, 'login-btn-opened-20x32', true);
        }
    }

}
// footer end

.shadow-gradient {
    height: 3px;
    @include filter-gradient(#1c667a, #f2f6fa, 'top');
    @include background(linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%));
}

.form-input,
.form-taxtarea {
    width: 100%;
    height: 39px;
    font: 13px 'firasans-lightans';
    border: 1px solid #48cbe8;
    @include border-radius(4px);
    @include input-placeholder {
        color: #48cbe8;
    }
}
.form-input {
    display: inline-block;
    text-indent: 9px;
}
.form-taxtarea {
    @include box-sizing(border-box);
}

// popup
.modal-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939',endColorstr='#393939');
    background: rgba(0, 0, 0, 0.7);
}

input.error,
textarea.error {
    background: #fad2d1;
    border: 1px solid #f97e76;
}

.error-wrapper {
    width: 250px;
    height: 26px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -13px;
    margin-right: 28px;
    text-align: right;
    &.right {
        right: 0;
        left: 100%;
        margin-left: 28px;
        text-align: left;
        label.error:after {
            top: 50%;
            left: 0;
            margin-right: -4px;
            @include transform(rotate(135deg));
        }
    }
}

label.error {
    background: #f97e76;
    color: #fff;
    font-size: 13px;
    padding: 0 15px;
    position: relative;
    @include border-radius(2px);
    @include box-shadow(0 3px 3px 0 rgba(0,0,0,0.2));
    &:after {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background: #f97e76;
        position: absolute;
        margin-top: -4px;
        top: 50%;
        left: 100%;
        margin-left: -4px;
        @include transform(rotate(135deg));
    }
}