@import "base";
@import "reset";
@import "table-scaffolding";

.upper-case {
    text-transform: uppercase;
}
.hide {
    display: none;
}

.main-container {
    background: inline-image('separated/page-bg-671x669.png');
    font-family: 'firasans-book', sans-serif;
}

// header start
.header {
    margin-bottom: 39px;
}
.header-inner-wrapper {
    background: $content-bg;
    padding: 0 20px;
    @include breakpoint(768) {
        padding: 0 35px;
    }
    @include breakpoint(320) {
        padding: 0 15px;
    }
    .header-table {
        max-width: 1200px;
        height: 112px;
        margin: 0 auto;
    }
    .loftschool-logo-container {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'loftschool-log-245x57', true);
    }
    .social-links {
        display: inline-block;
        * + * {
            margin-left: 24px;
        }
    }
    .social-icon {
        width: 47px;
        height: 47px;
        display: inline-block;
        cursor: pointer;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .vk-icon {
        @include sprite($ui-sprite, 'vk-icon-47x47', $dimensions: false,  $offset-x: 0, $offset-y: 0);
    }
    .tw-icon {
        @include sprite($ui-sprite, 'tw-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
    .fb-icon {
        @include sprite($ui-sprite, 'fb-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
    .gh-icon {
        @include sprite($ui-sprite, 'gh-icon-47x47', $dimensions: false, $offset-x: 0, $offset-y: 0);
    }
}
// header end

// grid system settings start
.container {
    margin-bottom: 9px;
    @include container();
}

.left-sidebar {
    @include span(3 of 12 0);
    @include breakpoint(320) {
        @include span(12);
    }
    margin-right: -1%;
}

.main-content {
    @include span(8 of 12 0);
    @include push(1);
}
.navigation-wrapper,
.about,
.experience,
.education,
.contacts-wrapper,
.my-works,
.contacts {
    margin-right: -10px;
}
// grid system settings end

// left-sidebar start
.navigation-wrapper {
    background: $content-bg;
//    margin-right: -10px;
    margin-bottom: 24px;
    .navigation-el {
        height: 72px;
        line-height: 76px;
        color: #959aa8;
        font-size: 21px;
        padding: 0 10px;
        &.active {
            color: #fff;
            background: #3ba8c0;
            font-size: 23px;
            .navigation-link {
                border: none;
                color: #fff;
            }
        }
        &:not(.active):hover {
            color: #3ba8c0;
            .navigation-link {
                color: #3ba8c0;
                border-bottom: 2px solid #3ba8c0;
            }
        }
    }
    .navigation-link {
        width: 100%;
        line-height: 70px;
        display: inline-block;
        text-decoration: none;
        text-indent: 18px;
        @include link-colors(#959aa8, false, #959aa8, #959aa8, #959aa8)
    }
}

.contacts-wrapper {
//    margin-right: -10px;
    .contacts-el {
        height: 40px;
        color: #fff;
    }
    .contact-icon-cell {
        width: 62px;
        text-align: right;
        padding-right: 21px;
    }
    .contact-icon {
        display: inline-block;
        line-height: 16px;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .mail-icon {
        @include sprite($ui-sprite, 'mail-icon-21x16', true);
    }
    .phone-icon {
        @include sprite($ui-sprite, 'phone-icon-19x21', true);
    }
    .skype-icon {
        @include sprite($ui-sprite, 'skype-icon-20x20', true);
    }
    .contacts-title {
        background: #3ba8c0;
        font-size: 21px;
        padding: 0 20px;
        line-height: 52px;
    }
    .contact-link {
        text-decoration: none;
        @include link-colors(#fff, false, #fff, #fff, #fff)
    }
    .mail-el {
        background: #41b9d4;
    }
    .phone-el {
        background: #48cbe8;
    }
    .skype-el {
        background: #51daf8;
    }
}
// left-sidebar end

// main-content start
.about,
.experience,
.education {
    background: $content-bg;
    margin-bottom: 24px;
//    margin-right: -10px;
}

.main-info-title,
.experience-title,
.education-title {
    height: 69px;
    line-height: 66px;
    font-size: 27px;
    color: #3ba8c0;
}

.experience-title,
.education-title {
    margin-bottom: 33px;
}

.main-info-title {
    margin-bottom: 16px;
}
.h1-txt {
    display: inline-block;
    border-bottom: 2px solid #3ba8c0;
    padding: 0 20px;
}
.avatar-container-cell {
    width: 250px;
    text-align: center;
}
.avatar-container {
    display: inline-block;
    background-image: $ui-sprite;
    @include sprite($ui-sprite, 'default-avatar-icon-201x200', true);
}
.main-info-list {
    margin-bottom: 28px;
    margin-left: 11px;
    .main-info-el {
        font-size: 15px;
        margin-bottom: 13px;
    }

    .main-info-el-title {
        font: 17px 'firasans-medium';
        margin-right: 15px;
    }
    .skills-title-cell {
        width: 173px;
    }
    .skills-list-el {
        display: inline-block;
        padding: 0 14px;
        text-align: center;
        height: 19px;
        margin-right: 3px;
        color: #fff;
        font: 14px/19px 'proximanovacond-semibold';
        @include background (linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%));
        border-radius: 2px;
    }

}
// main-content end

// experience start
.experience {
    overflow: hidden;
}
.experience-info-list-el {
    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 19px;
    }
    .work-date {
        font: 15px/1.5 'firasans-light';
    }
    .work-icon-cell {
        width: 100px;
        text-align: right;
    }
    .work-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'work-icon-36x34', true);
    }
    .company-name-info-cell {
        padding-left: 30px;
        color: #4a545d;
    }
    .company-name {
        font-size: 17px;
        line-height: 1;
    }
}
// experience end

// education start
.education {
    overflow: hidden;
}
.education-info-list {
    .education-info-list-el {
        color: #4a545d;
        margin-bottom: 26px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .education-icon-cell {
        width: 100px;
        text-align: right;
        vertical-align: 36px;
    }
    .education-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'education-icon-41x23', true);
    }
    .courses-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'courses-icon-41x32', true);
    }
    .education-palace-cell {
        padding-left: 30px;
    }
    .education-palace {
        font-size: 17px;
        line-height: 1;
    }
    .education-date {
        font: 15px 'firasans-light';
    }
}
// education end

// footer start
.footer {
    height: 80px;
    text-align: center;
    background: $content-bg;
    .copyright {
        font: 13px 'firasans-light';
    }
}
// footer end

.shadow-gradient {
    height: 3px;
    background-color: #1c667a;
    @include background(linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%));
}

// MY WORKS HTML

.my-works {
    margin-bottom: 39px;
    overflow: hidden;
    background: $content-bg;
}

.gallery {
    @include span(12);
    margin-top: 17px;
    .gallery-item {
        @include span(4);
        text-align: center;
        margin-bottom: 35px;
    }
    .project-preview {
        width: 179px;
        height: 125px;
        display: inline-block;
        border: 2px solid #3ba8c0;
    }
    .project-info {
        text-align: center;
    }
    .project-source {
        font: 13px 'firasans-lightitalic';
        color: #3ba8c0;
    }
    .project-description {
        font: 15px 'firasans-light';
        color: #4a545d;
    }

    .download-project-btn {
        width: 179px;
        height: 125px;
        background: #edf8fc;
        border: 1px dashed #3ca9c0;
    }
    .download-project-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'add-project-icon-32x32', true);
    }
    .add-project-btn-txt {
        color: #3ba8c0;
        font: 13px 'firasans-lightitalic';
    }
}

// contacts HTML

.contacts {
    margin-bottom: 39px;
    overflow: hidden;
    background: $content-bg;
    .contacts-header {
        margin-bottom: 45px;
    }
    .contacts-header-title-table {
        width: 100%;
        height: 121px;
        font-size: 27px;
        text-align: center;
        color: #fff;
        background: #48cbe8;
    }
    .header-bottom-border {
        height: 17px;
        background: #67dffa;
    }
    .contact-form-wrapper {
        @include span(5 of 8);
        @include push(2);
        margin-bottom: 35px;

        .fieldset {
            margin-bottom: 15px;
        }
        .contact-form-fields-group {
            margin-bottom: 35px;
        }
        .two-col-gag {
            width: 18px;
        }
        .form-label {
            color: #959aa8;
            font: 19px 'firasans-light';
        }
        .form-input-code-wrapper {
            height: 30px;
            border: 1px solid #48cbe8;
        }
        .contacts-textarea-form-wrapper {
            height: 181px;
        }
        .contacts-textarea {
            padding: 13px 9px 10px;
        }
        .capture-container {
            width: 189px;
            height: 77px;
            border: 1px solid #48cbe8;
        }
        .contact-form-btn {
            width: 139px;
            height: 31px;
            border-radius: 5px;
            color: #fff;
            font-size: 19px;
        }

        .contact-form-submit,
        .contact-form-reset {
            display: inline-block;
        }
        .contact-form-submit {
            background:  #48cbe8;
            box-shadow: 0px 2px 0 0px rgba(59,168,192, 1);
        }
        .contact-form-reset {
            background:  #849db5;
            box-shadow: 0px 2px 0 0px rgba(104,123,143, 1);
        }
    }

}

.form-input-wrapper,
.form-taxtarea-wrapper {
    border: 1px solid #48cbe8;
}
.form-input-wrapper {
    height: 39px;
}
.form-taxtarea-wrapper {
    background: #fff;
}
.form-input,
.form-taxtarea {
    width: 100%;
    height: 100%;
    font: 13px 'firasans-lightans';
    @include input-placeholder {
        color: #48cbe8;
    }
}
.form-input {
    display: inline-block;
    text-indent: 9px;
}
.form-taxtarea {
    box-sizing: border-box;
}

// popup

.modal-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.add-project-popup {
    width: 362px;
    height: 482px;
    position: absolute;
    top: 50%;
    margin-top: -241px;
    left: 50%;
    margin-left: -181px;
    background-color:  #eff3f7;
    box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
    box-sizing: border-box;

    .add-project-form-label {
        font-size: 17px;
        color: #959aa8;
    }

    .project-popup-content {
        padding: 7px 21px;
    }

    .add-project-popup-header {
        background: #48cbe8;
        padding: 0 12px;
    }
    .add-project-popup-title {
        height: 44px;
        font: 25px 'firasans-regular';
        color: #fff;
    }
    .project-popup-close-btn {
        line-height: 1;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        cursor: pointer;
        @include sprite($ui-sprite, 'add-project-popup-close-btn-25x25', true);
    }
    .project-popup-form-fieldset {
        margin-bottom: 7px;
    }
    .header-bottom-border {
        height: 9px;
        background: #67dffa;
    }
    .project-textarea-wrapper {
        height: 94px;
        padding: 10px 9px 6px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
    .project-textarea {
        border-radius: 4px;
    }

    .submit-project {
        height: 31px;
        padding: 0 26px;
        font-size: 19px;
        background: #48cbe8;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

}

