@import "base";
@import "reset";
@import "table-scaffolding";

.upper-case {
    text-transform: uppercase;
}

.main-container {
    background: inline-image('separated/page-bg-671x669.png');
    font-family: 'firasans-book', sans-serif;
}

// header start
.header {
    margin-bottom: 39px;
}
.header-inner-wrapper {
    background: $content-bg;
    padding: 0 20px;
    @include breakpoint(768) {
        padding: 0 35px;
    }
    @include breakpoint(320) {
        padding: 0 15px;
    }
    .header-table {
        max-width: 1200px;
        height: 112px;
        margin: 0 auto;
    }
    .loftschool-logo-container {
        width: 245px;
        height: 57px;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'loftschool-log-245x57');
    }
    .social-links {
        display: inline-block;
        * + * {
            margin-left: 24px;
        }
    }
    .social-icon {
        width: 47px;
        height: 47px;
        display: inline-block;
        cursor: pointer;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .vk-icon {
        @include sprite($ui-sprite, 'vk-icon-46x46', $offset-x: 0, $offset-y: 0);
    }
    .tw-icon {
        @include sprite($ui-sprite, 'tw-icon-47x47', $offset-x: 0, $offset-y: 0);
    }
    .fb-icon {
        @include sprite($ui-sprite, 'fb-icon-47x47', $offset-x: 0, $offset-y: 0);
    }
    .gh-icon {
        @include sprite($ui-sprite, 'gh-icon-47x47', $offset-x: 0, $offset-y: 0);
    }
}
// header end

// grid system settings start
.container {
    margin-bottom: 9px;
    @include container();
}

.left-sidebar {
    @include span(3 of 12 0);
    @include breakpoint(320) {
        @include span(12);
    }
    margin-right: -1%;
}

.main-content {
    @include span(8 of 12 0);
    @include push(1);
}
.navigation-wrapper,
.about,
.experience,
.education,
.contacts-wrapper,
.my-works {
    margin-right: -10px;
}
// grid system settings end

// left-sidebar start
.navigation-wrapper {
    background: $content-bg;
//    margin-right: -10px;
    margin-bottom: 24px;
    .navigation-el {
        height: 72px;
        line-height: 76px;
        color: #959aa8;
        font-size: 21px;
        padding: 0 10px;
        &.active {
            color: #fff;
            background: #3ba8c0;
            font-size: 23px;
            .navigation-link {
                border: none;
                color: #fff;
            }
        }
        &:not(.active):hover {
            color: #3ba8c0;
            .navigation-link {
                color: #3ba8c0;
                border-bottom: 2px solid #3ba8c0;
            }
        }
    }
    .navigation-link {
        width: 100%;
        line-height: 70px;
        display: inline-block;
        text-decoration: none;
        text-indent: 18px;
        @include link-colors(#959aa8, false, #959aa8, #959aa8, #959aa8)
    }
}

.contacts-wrapper {
//    margin-right: -10px;
    .contacts-el {
        height: 40px;
        color: #fff;
    }
    .contact-icon-cell {
        width: 62px;
        text-align: right;
        padding-right: 21px;
    }
    .contact-icon {
        display: inline-block;
        line-height: 16px;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
    }
    .mail-icon {
        width: 21px;
        height: 16px;
        @include sprite($ui-sprite, 'mail-icon-21x16');
    }
    .phone-icon {
        width: 19px;
        height: 21px;
        @include sprite($ui-sprite, 'phone-icon-19x21');
    }
    .skype-icon {
        width: 20px;
        height: 20px;
        @include sprite($ui-sprite, 'skype-icon-20x20');
    }
    .contacts-title {
        background: #3ba8c0;
        font-size: 21px;
        padding: 0 20px;
        line-height: 52px;
    }
    .contact-link {
        text-decoration: none;
        @include link-colors(#fff, false, #fff, #fff, #fff)
    }
    .mail-el {
        background: #41b9d4;
    }
    .phone-el {
        background: #48cbe8;
    }
    .skype-el {
        background: #51daf8;
    }
}
// left-sidebar end

// main-content start
.about,
.experience,
.education {
    background: $content-bg;
    margin-bottom: 24px;
//    margin-right: -10px;
}

.main-info-title,
.experience-title,
.education-title {
    height: 69px;
    line-height: 66px;
    font-size: 27px;
    color: #3ba8c0;
}

.experience-title,
.education-title {
    margin-bottom: 33px;
}

.main-info-title {
    margin-bottom: 16px;
}
.h1-txt {
    display: inline-block;
    border-bottom: 2px solid #3ba8c0;
    padding: 0 20px;
}
.avatar-container-cell {
    width: 250px;
    text-align: center;
}
.avatar-container {
    width: 201px;
    height: 200px;
    display: inline-block;
    background-image: $ui-sprite;
    @include sprite($ui-sprite, 'default-avatar-icon-201x200');
}
.main-info-list {
    margin-bottom: 28px;
    margin-left: 11px;
    .main-info-el {
        font-size: 15px;
        margin-bottom: 13px;
    }

    .main-info-el-title {
        font: 17px 'firasans-medium';
        margin-right: 15px;
    }
    .skills-title-cell {
        width: 173px;
    }
    .skills-list-el {
        display: inline-block;
        padding: 0 14px;
        text-align: center;
        height: 19px;
        margin-right: 3px;
        color: #fff;
        font: 14px/19px 'proximanovacond-semibold';
        @include background (linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%));
        border-radius: 2px;
    }

}
// main-content end

// experience start
.experience {
    overflow: hidden;
}
.experience-info-list-el {
    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 19px;
    }
    .work-date {
        font: 15px/1.5 'firasans-light';
    }
    .work-icon-cell {
        width: 100px;
        text-align: right;
    }
    .work-icon {
        display: inline-block;
        width: 36px;
        height: 34px;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'work-icon-36x34');
    }
    .company-name-info-cell {
        padding-left: 30px;
        color: #4a545d;
    }
    .company-name {
        font-size: 17px;
        line-height: 1;
    }
}
// experience end

// education start
.education {
    overflow: hidden;
}
.education-info-list {
    .education-info-list-el {
        color: #4a545d;
        margin-bottom: 26px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .education-icon-cell {
        width: 100px;
        text-align: right;
        vertical-align: 36px;
    }
    .education-icon {
        width: 41px;
        height: 23px;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'education-icon-41x23');
    }
    .courses-icon {
        width: 41px;
        height: 32px;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'courses-icon-41x32');
    }
    .education-palace-cell {
        padding-left: 30px;
    }
    .education-palace {
        font-size: 17px;
        line-height: 1;
    }
    .education-date {
        font: 15px 'firasans-light';
    }
}
// education end

// footer start
.footer {
    height: 80px;
    text-align: center;
    background: $content-bg;
    .copyright {
        font: 13px 'firasans-light';
    }
}
// footer end

.shadow-gradient {
    height: 3px;
    background-color: #1c667a;
    @include background(linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%));
}

// MY WORKS HTML

.my-works {
    margin-bottom: 39px;
    overflow: hidden;
    background: $content-bg;
}

.gallery {
    @include span(12);
    margin-top: 17px;
    .gallery-item {
        @include span(4);
        text-align: center;
        margin-bottom: 35px;
    }
    .project-preview {
        width: 179px;
        height: 125px;
        display: inline-block;
        border: 2px solid #3ba8c0;
    }
    .project-info {
        text-align: center;
    }
    .project-source {
        font: 13px 'firasans-lightitalic';
        color: #3ba8c0;
    }
    .project-description {
        font: 15px 'firasans-light';
        color: #4a545d;
    }

    .download-project-btn {
        width: 179px;
        height: 125px;
        background: #edf8fc;
        border: 1px dashed #3ca9c0;
    }
    .download-project-icon {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'add-project-icon-32x32');
    }
    .add-project-btn-txt {
        color: #3ba8c0;
        font: 13px 'firasans-lightitalic';
    }
}