@import "base";

.my-works {
    margin-bottom: 39px;
    overflow: hidden;
    background: $content-bg;
    @include border-radius(4px);
}

.gallery {
    @include span(12);
    margin-top: 17px;
    .gallery-item {
        @include span(4);
        text-align: center;
        margin-bottom: 35px;
    }
    .project-preview {
        width: 179px;
        height: 125px;
        display: inline-block;
        border: 2px solid #3ba8c0;
    }
    .project-info {
        text-align: center;
    }
    .project-source {
        font: 13px 'firasans-lightitalic';
        color: #3ba8c0;
    }
    .project-description {
        font: 15px 'firasans-light';
        color: #4a545d;
    }

    .download-project-btn {
        width: 179px;
        height: 125px;
        background: #edf8fc;
        border: 1px dashed #3ca9c0;
        &:hover {
            border: 1px dashed #3590a6;
            background: #a8c5dd;
            cursor: pointer;
        }
    }
    .download-project-icon {
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'add-project-icon-32x32', true);
    }
    .add-project-btn-txt {
        color: #3ba8c0;
        font: 13px 'firasans-lightitalic';
    }
}

.add-project-popup {
    width: 362px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -241px 0 0 -181px;
    background-color:  #eff3f7;
    box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
    @include box-sizing(border-box);
    @include border-radius(4px);
    .add-project-form-label {
        font-size: 17px;
        color: #959aa8;
    }

    .project-popup-content {
        padding: 7px 21px;
    }

    .add-project-popup-header {
        background: #48cbe8;
        padding: 0 12px;
        @include border-radius(4px)
    }
    .add-project-popup-title {
        height: 44px;
        font: 25px 'firasans-regular';
        color: #fff;
    }
    .project-popup-close-btn {
        line-height: 1;
        display: inline-block;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        cursor: pointer;
        @include sprite($ui-sprite, 'add-project-popup-close-btn-25x25', true);
    }
    .project-popup-form-fieldset {
        margin: 0 0 7px 0;
    }
    .header-bottom-border {
        height: 9px;
        background: #67dffa;
    }
    .project-textarea-wrapper {
        position: relative;
    }
    .project-textarea {
        @include border-radius(4px);
        height: 94px;
        padding: 10px 9px 6px;
        margin: 0 0 8px 0;
        border: 1px solid #48cbe8;
    }

    .submit-project {
        height: 31px;
        padding: 0 26px;
        font-size: 19px;
        background: #48cbe8;
        color: #fff;
        @include border-radius(5px);
        cursor: pointer;
        &.disabled {
            background: #8C8C8C;
        }
    }

    .download-img-btn-cell {
        width: 52px;
    }
    .download-img-btn {
        width: 52px;
        height: 42px;
        cursor: pointer;
        position: absolute;
        background-image: $ui-sprite;
        background-repeat: no-repeat;
        @include sprite($ui-sprite, 'add-project-popup-download-btn-52x39');
    }
}

.contact-form-input-wrapper {
    position: relative;
}
.contact-form-input {
    width: 100%;
    min-height: 39px;
    border: 1px solid #48cbe8;
    text-indent: 8px;
    color: #48cbe8;
    @include border-radius(4px);
}

input.error,
textarea.error {
    background: #fad2d1;
    border: 1px solid #f97e76;
}

.error-wrapper {
    width: 250px;
    height: 26px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -13px;
    margin-right: 28px;
    text-align: right;
}

label.error {
    background: #f97e76;
    color: #fff;
    font-size: 13px;
    padding: 0 15px;
    @include border-radius(2px);
    /*&:after {

    }*/
}